# Example application

Here we will go through the steps of a simple machine learning application based on the Titanic data set

## Load the data and print a bit of information

In [1]:
import pandas as pd
import numpy as np
titanic = pd.read_csv("titanic.csv")

In [2]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Before we can start, we need to handle a few issues: There are several "NaN"-values in the data set, which our machine learning algorithms won't be able to handle. It can't handle non-numeric values either, which we will deal with in two different ways: we change the "sex"-feature to a dummy variable and remove all other non-numeric columns.

In [3]:
#Dropping unwanted columns:
titanic = titanic.drop(['Name',"Ticket","Cabin","Embarked"], axis='columns')

#Creating dummy variable for sex:
titanic["Sex"] = pd.get_dummies(titanic["Sex"])["male"]

#We will also drop all rows that contain NaN-values:
titanic = titanic.dropna()

We want to try to predict whether a given passenger survived or not. So "survived" is our target variable (i.e. our labels).

In [4]:
labels = titanic["Survived"]
labels

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

In [5]:
data = titanic.drop(['Survived'], axis='columns')
data

     PassengerId  Pclass    Sex   Age  SibSp  Parch     Fare
0              1       3   True  22.0      1      0   7.2500
1              2       1  False  38.0      1      0  71.2833
2              3       3  False  26.0      0      0   7.9250
3              4       1  False  35.0      1      0  53.1000
4              5       3   True  35.0      0      0   8.0500
..           ...     ...    ...   ...    ...    ...      ...
885          886       3  False  39.0      0      5  29.1250
886          887       2   True  27.0      0      0  13.0000
887          888       1  False  19.0      0      0  30.0000
889          890       1   True  26.0      0      0  30.0000
890          891       3   True  32.0      0      0   7.7500

[714 rows x 7 columns]

In [6]:
labels

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

## Building a model

For illustrating the process we use the naïve Bayes model (more on this later). In scikit-learn all ML algorithms are implemented in their own class (for naïve Bayes it is `GaussianNB` under `sklearn.naive_bayes`) that should be instantiated.

In [7]:
#from sklearn.naive_bayes import GaussianNB
#model = GaussianNB()

# It is extremely easy to try with a different machine learning algorithm instead! 
# Just uncomment the two lines below to use a "k Nearest Neighbors"-model instead of Naive Bayes:

from sklearn.neighbors import KNeighborsClassifier 
model = KNeighborsClassifier()

Use the `fit` method for learning the model; this function takes as arguments the training data and the corresponding labels

In [8]:
model.fit(data, labels)

KNeighborsClassifier()

## Making predictions

We use the learned model to make predictions about new data instances for which we do not know the labels.
Let's see if a person with PassengerId 100, class 3, female, age 20, no siblings, parch 0 and a fare of 30 is predicted to survive:

In [9]:
# New data organized in a two-dimensional array 
x_new = np.array([[100, 3, 0, 23, 2, 0, 15]])

In [10]:
predict = model.predict(x_new)

c:\Users\Lilian Bittar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [11]:
print("Prediction: {}".format(predict))

Prediction: [0]

Lastly, let's see for how many of the passengers it was correctly predicted whether they survived or not:

In [12]:
print("Accuracy score: {}".format(model.score(data, labels)))

Accuracy score: 0.7549019607843137